<li class="{{.Class}}" id="{{.Id}}" hx-target="this">
	<div class="view">
		{{ if .Checked }}
		<input class="toggle" type='checkbox' name='{{.InputName}}' hx-put="/toggle/{{.Id}}" hx-trigger="click"
			hx-swap="outerHTML" checked />
		{{ else }}
		<input class="toggle" type='checkbox' name='{{.InputName}}' hx-put="/toggle/{{.Id}}" hx-trigger="click"
			hx-swap="outerHTML" />
		{{ end }}
		<label id=" {{.LabelId}}">{{.Label}}</label>
		<button hx-trigger="click" hx-delete="/todos/{{.Id}}" hx-target=".todo-list" hx-swap="outerHTML"
			class="destroy"></button>
	</div>
</li>
